@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Inter;
}

.body {
  background-color: #ffff;
  height: 100vh;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px;
  gap: 10px;
  cursor: pointer;
}

.box-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(
    290.1deg,
    #d6e6fe 0%,
    rgba(214, 252, 254, 0) 100%
  );
  width: 375px;
  padding: 160px;
  border-radius: 0px 0px 35px 35px;
  gap: 25px;
}

.logo {
  width: 37px;
}

.header-style {
  width: 327px;
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  line-height: 52.8px;
  letter-spacing: -0.05em;
  text-align: center;
}

.paragraph-style {
  width: 327px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #5e6e85;
}

.limit-style {
  margin-top: 37px;
}

.box-one-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 24px;
  border-radius: 16px;
  gap: 24px;
  transform: translateY(-119px);
  background-color: white;
}
.metric-imperial-style {
  display: flex;
  flex-direction: row;
  gap: 130px;
}

.metric-name-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.height-weight-div-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 19px;
}

.height-section-style {
  display: flex;
  flex-direction: column;
}

.weight-section-style {
  display: flex;
  flex-direction: column;
}

.details-style {
  color: #5e6e85;
}

#height-input {
  width: 280px;
  padding: 11px;
  border-radius: 11px;
  border: 1px solid #5e6e85;
}

#weight-input {
  width: 280px;
  padding: 11px;
  border-radius: 11px;
  border: 1px solid #5e6e85;
}

.blue-box-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  background-color: #345ff6;
  color: white;
  padding: 32px;
  border-radius: 17px;
}
.second-box-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 14px;
}

.healthy-weight-bmi-style {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 280px;
  background-color: #345ff6;
  color: white;
  padding: 32px;
  border-radius: 17px;
}

#height-ft-input {
  border-radius: 13px;
  padding: 10px;
  width: 132;
  border: 1px solid #5e6e85;
}

#weight-st-input {
  border-radius: 13px;
  padding: 10px;
  width: 132;
  border: 1px solid #5e6e85;
}
.num-style {
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  line-height: 52.8px;
  letter-spacing: -0.05em;
  text-align: left;
}
.man-eating-style {
  width: 311px;
}

.first-icons-style {
  display: flex;
  flex-direction: column;
  gap: 11px;
  margin-top: 30px;
}

.paragraph-one-style {
  width: 327px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #5e6e85;
}

.limitation-style {
  width: 327px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #5e6e85;
}

.image-style {
  width: 46px;
}

.bmi-result-style {
  width: 328px;
  margin-top: 30px;
}

.icon-styles {
  display: flex;
  gap: 11px;
  align-items: center;
  margin-top: 26px;
}

.paragraph-two-style {
  width: 327px;
  font-family: Inter;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  text-align: left;
  color: #5e6e85;
}

.welcome-style {
  display: none;
}
.second-box-style {
  display: none;
}

@media (min-width: 1024px) {
  .logo {
    width: 59px;
    display: flex;
    align-self: self-start;
    margin-left: 45px;
  }
  .two-boxes-style {
    display: flex;
    flex-direction: row;
  }

  .box-style {
    width: 978px;
    border-radius: 0px 0px 35px 35px;
    margin-left: -351px;
  }

  .header-style {
    width: 564px;
    font-family: Inter;
    font-size: 64px;
    font-weight: 600;
    line-height: 70.4px;
    letter-spacing: -0.05em;
    text-align: left;
  }

  .paragraph-style {
    width: 564px;
  }

  .box-one-style {
    width: 564px;
    margin-top: 292px;
    transform: translateX(-93px);
    border: 1px solid white;
    box-shadow: 0 0 15px grey;
  }

  #height-input {
    width: 238px;
  }

  #weight-input {
    width: 238px;
  }

  .blue-box-style {
    display: block;
    width: 500px;
    gap: 24px;
    border-radius: 16px 999px 999px 16px;
    flex-direction: row;
    background-color: #345ff6;
    color: white;
    padding: 21px;
    margin-top: 39px;
  }

  .welcome-style {
    display: block;
  }

  #bmi-suggest {
    display: none;
  }
  .enter-style {
    font-family: Inter;
    font-size: 14px;
    font-weight: 400;
    line-height: 21px;
    text-align: left;
  }

  .bmi-range-style {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 113px;
    margin-left: 300px;
  }

  .man-eating-style {
    width: 468px;
    margin-left: -300px;
  }

  .image-bmi-style {
    display: flex;
    flex-direction: row;
  }

  .first-icons-style {
    flex-direction: row;
    gap: 65px;
    background: linear-gradient(
      290.1deg,
      #d6e6fe 0%,
      rgba(214, 252, 254, 0) 100%
    );

    padding: 35px;
  }

  .healthy-list-style {
    display: flex;
    flex-direction: column;
    gap: 11px;
  }

  .paragraph-one-style {
    width: 365px;
  }

  .box-two-style {
    display: flex;
    flex-direction: row;
    gap: 273px;
    padding: 10px;
  }

  .healthy-weight-style {
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .limitation-style {
    width: 564px;
  }

  .study-base-style {
    background-color: #ffffff;
    padding: 24px;
    border-radius: 24px;
    border: 1px solid white;
    box-shadow: 0 0 15px grey;
  }

  .paragraph-two-style {
    width: 301px;
  }

  .third-box-style {
    display: flex;
    flex-direction: row;
    gap: 18px;
    margin-left: 620px;
    padding: 31px;
  }

  .fourth-box-style {
    display: flex;
    flex-direction: row;
    gap: 22px;
    margin-left: 280px;
  }

  .below-box-style {
    display: block;
  }

  .second-box-style {
    display: none;
    width: 564px;
    border: 1px solid white;
    background-color: white;
    border-radius: 13px;
    padding: 48px;
    flex-direction: column;
    align-items: center;
    gap: 26px;
  }

  .enter-one-style {
    margin-left: -300px;
  }

  .height-weight-element {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  .box-three-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 54px;
  }

  .metric-imperial-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 160px;
    margin-top: 23px;
  }
  .height-weight-div-style {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
  }

  .height-section-style {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .weight-section-style {
    display: flex;
    flex-direction: column;
    gap: 4px;
  }

  .round-style {
    display: flex;
    align-items: center;
    gap: 13px;
  }

  .weight-height-metric-style {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  }
  #metric {
    height: 31px;
  }

  #Imperial {
    height: 31px;
  }

  .input-styles {
    display: flex;
    flex-direction: row;
    gap: 18px;
  }

  .click-style {
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
  }

  #height-ft-input {
    padding: 11px;
    border-radius: 12px;
    border: 1px solid #5e6e85;
  }

  #weight-st-input {
    padding: 11px;
    border-radius: 12px;
    border: 1px solid #5e6e85;
  }

  .healthy-weight-bmi-style {
    width: 500px;
    padding: 16px;
    gap: 24px;
    border-radius: 16px 999px 999px 16px;
    background-color: #345ff6;
    color: white;
    display: flex;
    flex-direction: row;
    font-family: Inter;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    text-align: left;
    align-items: center;
  }
}
